<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafitlife.post.model.dao.PostDao">

	<!-- 전체 게시글 조회 -->
	<select id="selectAll" resultType="Post" parameterType="SearchCondition">
		SELECT p.post_no, p.post_title, p.post_content, p.post_created_date,
		p.post_updated_date, p.post_views, p.mem_no, u.nickname
		FROM post p
		JOIN user u ON p.mem_no = u.mem_no
		ORDER BY p.post_no DESC
		LIMIT #{offset}, #{size}
	</select>

	<select id="getTotalCount" resultType="long">
		SELECT COUNT(*)
		FROM post
	</select>

	<!-- 상세 게시글 조회 -->
	<select id="selectOne" resultType="Post" parameterType="int">
		SELECT p.post_no, p.post_title, p.post_content, p.post_created_date, p.post_updated_date, p.post_views , p.mem_no, u.nickname
		FROM post p, user u
		WHERE p.mem_no = u.mem_no
		AND post_no = #{postNo}
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="insertPost" parameterType="Post" keyProperty="postNo" useGeneratedKeys="true">
		INSERT INTO post (post_title,post_content,mem_no)
		VALUES (#{postTitle}, #{postContent}, #{memNo});
	</insert>

	<!-- 게시글에 등록된 댓글 삭제 -->	
	<delete id="deleteComment">
		DELETE FROM comment
		 WHERE post_no = #{postNo};
	</delete>
	
	<!-- 게시글 삭제 -->
	<delete id="deletePost" parameterType="int">
		DELETE FROM post
		 WHERE post_no = #{postNo};
	</delete>

	<!-- 조회수 증가 -->
	<update id="updateViews" parameterType="int">
		UPDATE post
		SET post_views = post_views + 1
		WHERE post_no = #{postNo};
	</update>
	
	<!-- 업데이트 수정날짜를 저장하겠다는 예시 -->
	<update id="updatePost" parameterType="Post">
		UPDATE post
		SET post_title = #{postTitle}, post_content = #{postContent}, post_updated_date = now()
		WHERE post_no = #{postNo};
	</update>

	<!-- 검색 -->
	<select id="search" resultType="Post" parameterType="SearchCondition">
		SELECT p.post_no, p.post_title, p.post_content, p.post_created_date,
		p.post_updated_date, p.post_views, p.mem_no, u.nickname
		FROM post p
		JOIN user u ON p.mem_no = u.mem_no
		<where>
			<if test="searchType != null and keyword != null">
				<choose>
					<when test="searchType == 'nickname'">
						u.nickname LIKE CONCAT('%', #{keyword}, '%')
					</when>
					<otherwise>
						p.${searchType} LIKE CONCAT('%', #{keyword}, '%')
					</otherwise>
				</choose>
			</if>
		</where>
		ORDER BY p.post_no DESC
		LIMIT #{offset}, #{size}
	</select>

	<select id="getSearchCount" resultType="long" parameterType="SearchCondition">
		SELECT COUNT(*)
		FROM post p
		JOIN user u ON p.mem_no = u.mem_no
		<where>
			<if test="searchType != null and keyword != null">
				<choose>
					<when test="searchType == 'nickname'">
						u.nickname LIKE CONCAT('%', #{keyword}, '%')
					</when>
					<otherwise>
						p.${searchType} LIKE CONCAT('%', #{keyword}, '%')
					</otherwise>
				</choose>
			</if>
		</where>
	</select>
	
	<insert id="insertFile" parameterType="Post">
		INSERT INTO files (file_id, file_name, post_id)
		VALUES (#{fileId}, #{fileName}, #{id});
	</insert>
</mapper>